<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-custom-process-heading" jhiTranslate="jHipster5TestApp.customProcess.home.createOrEditLabel">Create or edit a Custom Process</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!customProcess.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customProcess.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipster5TestApp.customProcess.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="customProcess.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipster5TestApp.customProcess.interfaceFqn" for="field_interfaceFqn">Interface Fqn</label>
                    <input type="text" class="form-control" name="interfaceFqn" id="field_interfaceFqn"
                        [(ngModel)]="customProcess.interfaceFqn" required/>
                    <div [hidden]="!(editForm.controls.interfaceFqn?.dirty && editForm.controls.interfaceFqn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.interfaceFqn?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipster5TestApp.customProcess.template" for="field_template">Template</label>
                    <input type="checkbox" class="form-control" name="template" id="field_template"
                        [(ngModel)]="customProcess.template" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipster5TestApp.customProcess.source" for="field_source">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                        [(ngModel)]="customProcess.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipster5TestApp.customProcess.scheduling" for="field_scheduling">Scheduling</label>
                    <input type="text" class="form-control" name="scheduling" id="field_scheduling"
                        [(ngModel)]="customProcess.scheduling" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
