<div>
    <h2 id="page-heading">
        <span jhiTranslate="jHipster5TestApp.logicalCard.home.title">Logical Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-logical-card" [routerLink]="['/logical-card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jHipster5TestApp.logicalCard.home.createLabel">
            Create new Logical Card
            </span>
        </button>
    </h2>
    <-alert></-alert>
    <br/>
    <div class="table-responsive" *ngIf="logicalCards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jHipster5TestApp.logicalCard.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="physicalCardVisualId"><span jhiTranslate="jHipster5TestApp.logicalCard.physicalCard">Physical Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logicalCard of logicalCards ;trackBy: trackId">
                <td><a [routerLink]="['/logical-card', logicalCard.id, 'view' ]">{{logicalCard.id}}</a></td>
                <td>{{logicalCard.name}}</td>
                <td>
                    <div *ngIf="logicalCard.physicalCardId">
                        <a [routerLink]="['../physical-card', logicalCard.physicalCardId , 'view' ]" >{{logicalCard.physicalCardVisualId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/logical-card', logicalCard.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/logical-card', logicalCard.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'logical-card/'+ logicalCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logicalCards && logicalCards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
